<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>The Gossip Project - Show Gossip</title>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">The Gossip Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Accueil<span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container p-3 text-center">
      <h2 class="text-center">Mon gossip</h2>
          <p> Voici le potin n° <%= params['id'] %><br/>
          Son auteur : <%= gossips.author %><br/>
          Le contenu du potin : <%= gossips.content %>
          </p>
      <a class="btn btn-danger btn-sm m-3 float-right" href="/">Vous pouvez cliquer ici pour revenir à la page des potins</a>
      <a class="btn btn-secondary btn-sm m-3 float-left" href="/gossips/<%= params['id'] %>/edit/">Cliquez ici pour editer le gossip</a>
    </div>
  </body>
</html>